PORT=10000
DB_URL=jdbc:postgresql://localhost:5432/gestion_hoteleria
DB_USERNAME=postgres
DB_PASSWORD=tu_password
JWT_SECRET=clave_super_segura_de_minimo_32_caracteres
JWT_EXPIRATION_MS=86400000
FRONTEND_URL=http://localhost:5173
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
UPLOAD_DIR=uploads/habitaciones
SUPABASE_URL=https://tu-project-ref.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key
SUPABASE_STORAGE_BUCKET=habitaciones
